body {
  display: grid;
  margin: 0;
  height: 1000px;
  background-color: black;
  font-family: "Calibri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-template-rows: 3;
  overflow-x: hidden;
}

.workexperience-container {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: 0.001fr 1fr 0.1fr;
  grid-template-rows: 0.33fr 0.33fr 0.3fr 0.25fr 0.05fr;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 175, 175);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(255, 175, 175);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SlideAnimation.tsx Classes and styling after this */

.bg {
  display: grid;
  background: linear-gradient(-45deg, #000000, #000000, #be0000, #000000);
  font-family: "Fira Code";
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 120vh;
  grid-template-columns: 0.865fr 3fr 0.4fr;
  grid-template-rows: 0.4fr 0.5fr 1.5fr 1fr;
  border-bottom: 1px solid #3b3b3b;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.intro-container {
  display: flex;
  font-size: 60%;
  font-family: "Calibri", sans-serif;
  font-weight: 600%;
  position: relative;
  top: 110%;
  left: 0%;
  grid-template-columns: 0.2fr;
  grid-column: 2; /* Span across all columns */
  grid-template-rows: 1fr;
  grid-row: 1; /* Place in the first row */
  opacity: 0;
  transform: translateX(-40px);
  animation: slideFadeIn 1s ease-out 0.4s forwards;
  color: rgb(255, 255, 255);
  position: relative;
  opacity: 0;
}

@media (max-width: 425px) {
  .intro-container {
    font-size: 57%;
  }
}

@media (max-width: 376px) {
  .intro-container {
    font-size: 57%;
  }
}

.descript_intro {
  font-family: "Calibri", sans-serif;
  position: relative;
  font-size: 110%;
  text-align: left;
  font-weight: 600;
  color: white;
  grid-column: 2;
  grid-row: 4;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1.4s ease-out 1.6s forwards;
}

@media (max-width: 1024px) {
  .descript_intro {
    font-size: 100%;
  }
}

@media (max-width: 689px) {
  .descript_intro {
    font-size: 90%;
  }
}

@media (max-width: 548px) {
  .bg {
    grid-template-rows: 0.4fr 0.5fr 1.3fr 1.1fr;
  }
}

@media (max-width: 505px) {
  .descript_intro {
    font-size: 88%;
  }
}

@media (max-width: 493px) {
  .descript_intro {
    font-size: 83%;
  }
}

.name_intro {
  font-family: "Calibri";
  position: absolute;
  font-size: 300%;
  text-align: left;
  display: flex;
  align-items: center;
  left: 20.14%;
  top: 30%;
  width: 35%;
  color: white;
  grid-column: 1;
  grid-row: 2;
  opacity: 0;
  transform: translateX(-40px);
  animation: slideFadeIn 1s ease-out 1s forwards, glow 1.5s ease-in-out infinite alternate;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .name_intro {
    font-size: 220%;
    width: 55%;
  }
}

@media (max-width: 669px) {
  .name_intro {
    font-size: 200%;
    width: 55%;
  }
}

@media (max-width: 618px) {
  .name_intro {
    font-size: 180%;
    width: 55%;
  }
}

@media (max-width: 550px) {
  .name_intro {
    font-size: 150%;
    width: 62%;
  }
}

@media (max-width: 425px) {
  .name_intro {
    font-size: 150%;
    width: 72%;
  }
}

@media (max-width: 375px) {
  .name_intro {
    font-size: 120%;
    width: 75%;
  }
}

@media (max-width: 325px) {
  .name_intro {
    font-size: 120%;
    width: 82%;
  }
}

/* 

IconMenu.tsx Classes and styling starts here 

*/

.icon-menu {
    /* Positioning */
    position: fixed;
    top: 35%;
    width: 4%;
    height: 40%;
  
    background: rgba(41, 41, 41, 0.27);
    backdrop-filter: blur(1px);
    margin-top: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
  
    /* Grid template for main container */
    display: grid;
    font-family: "Fira Code";
    font-size: 90%;
    font-weight: 600;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 3;
}

@media (max-width: 768px) {
  .icon-menu {
    width: 7%;
  }
}

@media (max-width: 425px) {
  .icon-menu {
    width: 10%;
    top: 30%;
    height: 35%;
  }
}

.gitlogo {
  position: relative;
  width: 99%;
  grid-row: 1;
}

.linkedinlogo {
  position: relative;
  width: 90%;
  top: 18%;
  right: 0.2%;
  grid-row: 2;
}

.emaillogo {
  position: relative;
  top: 27.5%;
  width: 80%;
  height: 58%;
  right: -1%;
  grid-row: 3;
}

.cvlogo {
  position: relative;
  top: 32.5%;
  width: 99%;
  height: 78%;
  right: -11%;
  grid-row: 3;
}

/* 

SecondPage.tsx Classes and styling starts here 

*/

.second-page {
  display: grid;
  background: rgb(9, 9, 9);
  height: 230vh;
  background-position: 0% 700%;
  grid-template-columns: 0.1fr 7fr 0.1fr;
  grid-template-rows: 0.2fr 0.9fr;
  border-bottom: 1px solid #3b3b3b;
}

.work-header-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-column: 2;
  grid-template-rows: 1fr;
}

.work-header {
  position: relative;
  font-size: 500%;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
  top: 25%;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shimmer 2.5s linear infinite;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
  grid-column: 2;
}

@keyframes shine {
  from {
    mask-position: 150%;
  }
  
  to {
    mask-position: -50%;
  }
}

@media (max-width: 811px) {
  .work-header {
    font-size: 400%;
  }
}

@media (max-width: 595px) {
  .work-header {
    font-size: 300%;
  }
}

@media (max-width: 456px) {
  .work-header {
    font-size: 200%;
  }
}

.HCL-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 1;
  border-left: 1px solid white;
}

@media (max-width: 446px) {
  .HCL-container {
    height: 65%;
  }
}

.HCL-name {
  grid-row: 3;
  grid-column: 1;
  color: #aaaaaa;
  text-align: left;
  margin-left: 20px;
  font-size: 110%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .HCL-name {
    font-size: 95%;
  }
}

@media (max-width: 1095px) {
  .HCL-name {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .HCL-name {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .HCL-name {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .HCL-name {
    font-size: 50%;
  }
}

.HCL-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin-left: 20px;
  color: #bb0000;
}

@media (max-width: 1213px) {
  .HCL-date {
    font-size: 95%;
    left: 0%;
  }
}

@media (max-width: 1095px) {
  .HCL-date {
    font-size: 80%;
    left: 0%;
  }
}

@media (max-width: 600px) {
  .HCL-date {
    font-size: 77%;
    left: 0%;
  }
}

@media (max-width: 411px) {
  .HCL-date {
    left: -4%;
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .HCL-date {
    font-size: 65%;
    left: -2%;
  }
}

@media (max-width: 308px) {
  .HCL-date {
    font-size: 50%;
  }
}

.HCL-position {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 130%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .HCL-position {
    font-size: 95%;
  }
}

@media (max-width: 458px) {
  .HCL-position {
    top: 55%;
  }
}

.HCL-points {
  grid-row: 4;
  grid-column: 1;
  position: relative;
  list-style-type: none;
  font-family: "Calibri", text;
  font-size: 95%;
  top: 5%;
  color: rgb(255, 175, 175);
  left: 2%;
  font-weight: 600;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.HCL-points.visible {
  opacity: 1;
}

.HCL-points li {
  margin-left: 30px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

@media (max-width: 896px) {
  .HCL-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .HCL-points {
    font-size: 70%;
  }
}

@media (max-width: 434px) {
  .HCL-points {
    font-size: 68%;
    top: 2%;
  }
}

@media (max-width: 360px) {
  .HCL-points {
    font-size: 63%;
  }
}

.ATCO-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 2;
  border-left: 1px solid white;
}

@media (max-width: 446px) {
  .ATCO-container {
    height: 80%;
    grid-template-rows: 0.6fr 2fr;
  }
}

.ATCO-name {
  grid-row: 3;
  grid-column: 1;
  color: rgb(168, 168, 168);
  text-align: left;
  margin-left: 20px;
  font-size: 110%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1200px) {
  .ATCO-name {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  .ATCO-name {
    font-size: 75%;
  }
}

@media (max-width: 360px) {
  .ATCO-name {
    font-size: 65%;
  }
}

.ATCO-position {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 130%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .ATCO-position {
    font-size: 95%;
  }
}

.ATCO-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin-left: 20px;
  color: #bb0000;
}


@media (max-width: 1213px) {
  .ATCO-date {
    font-size: 95%;
    left: -8%;
  }
}

@media (max-width: 1095px) {
  .ATCO-date {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .ATCO-date {
    font-size: 77%;
  }
}

@media (max-width: 411px) {
  .ATCO-date {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .ATCO-date {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .ATCO-date {
    font-size: 50%;
  }
}

.ATCO-points {
  grid-row: 4;
  grid-column: 1;
  position: relative;
  list-style-type: none;
  font-family: "Calibri", sans-serif;
  font-size: 95%;
  top: 2.5%;
  color: rgb(255, 175, 175);
  left: 2%;
  font-weight: 600;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.ATCO-points.visible {
  opacity: 1;
}

@media (max-width: 896px) {
  .ATCO-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .ATCO-points {
    font-size: 70%;
  }
}

@media (max-width: 411px) {
  .ATCO-points {
    font-size: 64%;
  }
}

@media (max-width: 360px) {
  .ATCO-points {
    font-size: 63%;
  }
}

@media (max-width: 320px) {
  .ATCO-points {
    font-size: 62%;
    top: 3%;
  }
}

.ATCO-points li {
  margin-left: 30px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

.uofa-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 3;
  border-left: 1px solid white;
}

.uofa-name {
  grid-row: 3;
  grid-column: 1;
  color: #aaaaaa;
  text-align: left;
  margin-left: 20px;
  font-size: 110%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .uofa-name {
    font-size: 95%;
  }
}

@media (max-width: 1095px) {
  .uofa-name {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  .uofa-name {
    font-size: 75%;
  }
}

@media (max-width: 323px) {
  .uofa-name {
    font-size: 65%;
  }
}

@media (max-width: 308px) {
  .uofa-name {
    font-size: 50%;
  }
}

.uofa-position {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 130%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .uofa-position {
    font-size: 95%;
  }
}

.uofa-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin-left: 20px;
  color: #bb0000;
}

.uofa-points {
  grid-row: 4;
  grid-column: 1;
  position: relative;
  list-style-type: none;
  font-size: 95%;
  top: 2.5%;
  color: rgb(255, 175, 175);
  left: 2%;
  font-weight: 600;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.uofa-points.visible {
  opacity: 1;
}

@media (max-width: 896px) {
  .uofa-points {
    font-size: 80%;
  }
}

@media (max-width: 680px) {
  .uofa-points {
    font-size: 70%;
  }
}


@media (max-width: 411px) {
  .uofa-points {
    font-size: 67%;
  }
}

@media (max-width: 360px) {
  .uofa-points {
    font-size: 60%;
  }
}

.uofa-points li {
  margin-left: 30px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

.CRA-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 4;
  border-left: 1px solid white;
}

.CRA-name {
  grid-row: 3;
  grid-column: 1;
  color: #aaaaaa;
  text-align: left;
  margin-left: 20px;
  font-size: 110%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

.CRA-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin-left: 20px;
  color: #bb0000;
}

.CRA-points {
  grid-row: 4;
  grid-column: 1;
  position: relative;
  list-style-type: none;
  font-size: 95%;
  top: 2%;
  color: rgb(255, 175, 175);
  left: 2%;
  font-weight: 600;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.CRA-points.visible {
  opacity: 1;
}


.CRA-points li {
  margin-left: 30px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

.CRA-position {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 130%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

@media (max-width: 1213px) {
  .CRA-position {
    font-size: 95%;
  }
}

/* 

ThirdPage.tsx Classes and styling starts here

*/

.third-page {
  display: grid;
  background: rgb(4, 4, 4);
  height: 225vh;
  background-position: 0% 700%;
  grid-row: 3;
  grid-template-columns: 0.2fr 3fr 0.2fr;
  grid-template-rows: 0.25fr 0.9fr;
  border-bottom: 1px solid #3b3b3b;
}

.project-container {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.9fr 0.2fr;
}

@media (max-width: 1098px) {
  .project-container {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr 1.5fr 1.5fr 0.2fr;
  }

  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 340vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.65fr 0.9fr;
  }
}

@media (max-width: 853px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 640vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.85fr 0.9fr;
  }

  .project-container {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.1fr;
  }
}

@media (max-width: 799px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 640vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.65fr 0.9fr;
  }
}

@media (max-width: 680px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 640vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.55fr 0.9fr;
  }
}


@media (max-width: 595px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 640vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.4fr 0.9fr;
  }
}

@media (max-width: 343px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 640vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.55fr 3fr 0.55fr;
    grid-template-rows: 0.6fr 0.9fr;
  }
}

@media (max-width: 326px) {
  .third-page {
    display: grid;
    background: rgb(4, 4, 4);
    height: 650vh;
    width: 102vw;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.45fr 3fr 0.45fr;
    grid-template-rows: 0.6fr 0.9fr;
  }
}

.formula-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 3;
  grid-row: 1;
  width: 90%;
  margin-left: 10%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

.formula-logo{
  margin-top: 20%;
}

@media (max-width: 1098px) {
  .formula-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    left: -10%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.73fr 0.7fr 0.5fr;
  }

  .formula-logo {
    margin-top: 15%;
  }
}

@media (max-width: 853px) {
  .formula-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    left: 0%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .formula-logo{
    margin-bottom: 20%;
  }
}

.formula-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

.formularow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 12px;
}

.formularow-three{
  top: 10%;
  display: grid;
  left: 11%;
  position: relative;
  place-items: center;
  grid-template-columns: 0.8fr;
  grid-template-rows: 3.5fr 1.5fr;
  grid-column: 2;
  grid-row: 2;
}

.formularow-four {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  position: relative;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-template-rows: 2.5rem 2.5rem 2.5rem;
  font-size: 85%;
}

/* Adjusted styling for row-four content */
.formularow-four div {
  background-color: black;
  color: rgb(255, 120, 120);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}

.android-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

.android-name {
  font-size: 80%;
}

.android-logo {
  margin-top: 20%;
}

@media (max-width: 1098px) {
  .android-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 2;
    grid-row: 1;
    width: 90%;
    margin-left: 10%;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .android-logo {
    margin-top: 15%;
  }
}

@media (max-width: 853px) {
  .android-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }
}
/* Consider using for laptop sizes: grid-template-rows: 14rem 13.5rem 9.6rem; */

.androidrow-two{
  top: 0%;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3.8fr 0.5fr;
  grid-column: 2;
  grid-row: 1;
}

.android-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

.androidrow-three{
  top: 10%;
  display: grid;
  left: 11%;
  position: relative;
  place-items: center;
  grid-template-columns: 0.8fr;
  grid-template-rows: 3.5fr 1.5fr;
  grid-column: 2;
  grid-row: 2;
}

.androidrow-four {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  position: relative;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-template-rows: 2.5rem 2.5rem 2.5rem;
}

/* Adjusted styling for row-four content */
.androidrow-four div {
  background-color: black;
  color: rgb(255, 120, 120);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  font-size: 85%;
}

.android-name {
  color: rgb(255, 120, 120);
}

.formula-name {
  color: rgb(255, 120, 120);
}

.stock-name {
  color: rgb(255, 120, 120);
}

.albertaloop-name {
  color: rgb(255, 120, 120);
}

.website-name {
  color: rgb(255, 120, 120);
}

.rogue-name {
  color: rgb(255, 120, 120); 
}

.formula-container.hovered .formula-name {
  color: rgb(255, 0, 0);
}

.android-container.hovered .android-name {
  color: rgb(255, 0, 0);
}

.rogue-container.hovered .rogue-name {
  color: rgb(255, 0, 0);
}

.website-container.hovered .website-name {
  color: rgb(255, 0, 0);
}

.stock-container.hovered .stock-name {
  color: rgb(255, 0, 0);
}

.albertaloop-container.hovered .albertaloop-name {
  color: rgb(255, 0, 0);
}

.android-container.hovered .androidrow-four div {
  color: rgb(255, 0, 0);
}

.android-container.hovered .android-name {
  color: rgb(255, 0, 0);
}

.rogue-container.hovered .androidrow-four div {
  color: rgb(255, 0, 0);
}

.formula-container.hovered .formularow-four div {
  color: rgb(255, 0, 0);
}

.stock-container.hovered .androidrow-four div {
  color: rgb(255, 0, 0);
}

.website-container.hovered .androidrow-four div {
  color: rgb(255, 0, 0);
}

.albertaloop-container.hovered .androidrow-four div {
  color: rgb(255, 0, 0);
}

.rogue-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 1;
  grid-row: 1;
  width: 90%;
  margin-right: 10%;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.6fr 0.6fr 0.4fr;
}

@media (max-width: 1098px) {
  .rogue-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    margin-right: 10%;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.6fr 0.6fr 0.4fr;
  }
}

@media (max-width: 853px) {
  .rogue-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.6fr 0.6fr 0.4fr;
  }
}

.rogue-logo {
  margin-top: 20%;
}

@media (max-width: 359px) {
  .rogue-logo {
    margin-bottom: 25%;
  }
}

.rogue-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

.stock-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 1;
  grid-row: 2;
  width: 90%;
  margin-right: 10%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.6fr 0.6fr 0.4fr;
}

.stock-name {
  font-size: 83%;
}

@media (max-width: 1098px) {
  .stock-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 2;
    grid-row: 2;
    width: 90%;
    margin-left: 10%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.6fr 0.6fr 0.4fr;
  }
}

@media (max-width: 853px) {
  .stock-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 4;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.7fr 0.7fr 0.5fr;
  }

  .stock-logo {
    margin-bottom: 28%;
  }
}

@media (max-width: 1012px) {
  .stock-name {
    font-size: 77%;
  }
}

.albertaloop-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 2;
  grid-row: 2;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

@media (max-width: 1098px) {
  .albertaloop-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    left: -5%;
    margin-right: 10%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .alberta-logo{
    margin-bottom: 20%;
  }
}

@media (max-width: 853px) {
  .albertaloop-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 5;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    left: 0;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .alberta-logo{
    margin-bottom: 28%;
  }
}

.website-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(255, 120, 120);
  grid-column: 3;
  grid-row: 2;
  width: 90%;
  margin-left: 10%;
  margin-top: 50px;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.63fr 0.6fr 0.4fr;
}

.website-logo {
  margin-top: 20%;
}

@media (max-width: 1098px) {
  .website-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    margin-left: 10%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .website-logo {
    margin-bottom: 20%;
  }
}

@media (max-width: 853px) {
  .website-container {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
    grid-column: 1;
    grid-row: 6;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0.63fr 0.6fr 0.4fr;
  }

  .website-logo {
    margin-bottom: 28%;
  }
}

@media (max-width: 934px) {
  .formularow-four {
    font-size: 82%;
  }

  .androidrow-four {
    font-size: 82%;
  }
}

@media (max-width: 400px) {
  .formularow-four {
    font-size: 75%;
  }

  .androidrow-four {
    font-size: 75%;
  }
}

.rogue-name {
  font-size: 300%;
}

@media (max-width: 441px) {
  .rogue-name {
    font-size: 230%;
  }
}


.stock-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

.albertaloop-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

.website-container.hovered {
  box-shadow: 0px 0px 18px rgba(255, 0, 0, 0.7);
}

/* 

FourthPage.tsx Classes and styling starts here

*/

.fourth-page {
  display: grid;
  background: rgb(1, 1, 1);
  height: 200vh;
  background-position: 0% 700%;
  grid-row: 3;
  grid-template-columns: 0.1fr 7fr 0.1fr;
  grid-template-rows: 0.2fr 0.9fr;
}

@media (max-width: 1067) {
  .fourth-page {
    display: grid;
    background: rgb(1, 1, 1);
    height: 280vh;
    background-position: 0% 700%;
    grid-row: 3;
    grid-template-columns: 0.01fr 7fr 0.1fr;
    grid-template-rows: 0.25fr 0.9fr;
  }
}

.volunteering-container {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: 0.001fr 1fr 0.1fr;
  grid-template-rows: 0.7fr 0.62fr 0.53fr 0.4fr 0.1fr;
}

@media (max-width: 726px) {
  .volunteering-container {
    grid-template-rows: 0.73fr 0.55fr 0.43fr 0.3fr 0.1fr;
  }
}

@media (max-width: 695px) {
  .volunteering-container {
    grid-template-rows: 0.78fr 0.55fr 0.43fr 0.1fr 0.1fr;
  }
}

@media (max-width: 674px) {
  .volunteering-container {
    grid-template-rows: 0.8fr 0.55fr 0.43fr 0.1fr 0.1fr;
  }
}

@media (max-width: 653px) {
  .volunteering-container {
    grid-template-rows: 0.84fr 0.59fr 0.43fr 0.1fr 0.1fr;
  }
}

@media (max-width: 482px) {
  .volunteering-container {
    grid-template-rows: 0.8fr 0.59fr 0.43fr 0.15fr 0.1fr;
  }
}

.mentor-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 1;
  border-left: 1px solid white;
}

.mentor-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin-left: 20px;
  color: #bb0000;
}

.mentor-position {
  grid-row: 2;
  grid-column: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 130%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

.mentor-club {
  grid-row: 3;
  grid-column: 1;
  color: #aaaaaa;
  text-align: left;
  margin-left: 20px;
  font-size: 110%;
  font-family: "Calibri", sans-serif;
  font-weight: 650;
}

.mentor-points{
  grid-row: 4;
  grid-column: 1;
  position: relative;
  list-style-type: none;
  font-family: "Calibri", sans-serif;
  font-size: 95%;
  top: 5%;
  color: rgb(255, 175, 175);
  left: 2%;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.mentor-points li {
  margin-left: 30px;
  text-indent: 0;
  text-align: left;
  list-style: disc;
}

.comp-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 2;
  border-left: 1px solid white;
}

.circle-container {
  width: 100px;
  height: 100px;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  left: 0%;
}

.circle2-container {
  width: 100px;
  height: 100px;
  position: relative;
  grid-column: 1;
  grid-row: 2;
  left: 0%;
}

.first-circle {
  position: relative;
  left: 91%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #bb0000;
  box-shadow:
    0 0 60px 0px #cf4242,
    0 0 100px 8px #cf4242,
    0 0 140px 18px #cf4242;
}

.vp-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 3;
  border-left: 1px solid white;
}

.circle3-container {
  width: 100px;
  height: 100px;
  position: relative;
  grid-column: 1;
  grid-row: 3;
  left: 0%;
}

.tax-container {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.4rem;
  grid-column: 2;
  grid-row: 4;
  border-left: 1px solid white;
}

.circle4-container {
  width: 100px;
  height: 100px;
  position: relative;
  grid-column: 1;
  grid-row: 4;
  left: 0%;
}

.volunteering-header-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-column: 2;
  grid-template-rows: 1fr;
}

.volunteering-header {
  position: relative;
  font-size: 500%;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
  top: 25%;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shimmer 2.5s linear infinite;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
  grid-column: 2;
}

@media (max-width: 811px) {
  .volunteering-header {
    font-size: 420%;
  }
  
  .fourth-page {
    grid-template-rows: 0.2fr 0.9fr;
  }
}

@media (max-width: 756px) {
  .volunteering-header-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    grid-column: 2;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 595px) {
  .volunteering-header {
    font-size: 300%;
  }
}

@media (max-width: 584px) {
  .fourth-page {
    grid-template-rows: 0.1fr 0.9fr;
  }

  .volunteering-header-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    grid-column: 2;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 456px) {
  .volunteering-header {
    font-size: 200%;
  }
}

@media (max-width: 408px) {
  .mentor-container {
    font-size: 82%;
    left: -5%;
  }

  .comp-container {
    font-size: 82%;
    left: -5%;
  }

  .vp-container {
    font-size: 82%;
    left: -5%;
  }

  .tax-container {
    font-size: 82%;
    left: -5%;
  }

  .volunteering-container {
    grid-template-columns: 0.001fr 1.5fr 0.1fr;
  }

  .fourth-page {
    grid-template-columns: 0.14fr 7fr 0.1fr;
  }
}

@media (max-width: 365px) {
  .volunteering-container {
      grid-template-rows: 0.94fr 0.69fr 0.53fr 0.1fr 0.2fr;
  }
  .mentor-container {
    font-size: 80%;
    left: -5%;
  }

  .comp-container {
    font-size: 80%;
    left: -5%;
  }

  .vp-container {
    font-size: 80%;
    left: -5%;
  }

  .tax-container {
    font-size: 80%;
    left: -5%;
  }
}

@media (max-width: 359px) {
  .fourth-page {
    height: 320vh;
  }
}

.footer {
  position: relative;
  grid-row: 5;
  grid-column: 2;
  font-size: 90%;
  color: #3b3b3b;
  place-items: center;
}

/* 

Header.tsx styling after this comment

*/

.wrapper {
  /* Positioning */
  position: fixed;
  top: 0%;
  width: 80%;
  height: 6%;
  left: 10%;

  background: rgba(41, 41, 41, 0.27);
  backdrop-filter: blur(1px);
  margin-top: 12px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;

  /* Grid template for main container */
  display: grid;
  font-family: "Fortuna", sans-serif;
  font-size: 90%;
  font-weight: 600;
  text-align: left;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 150px;
}

@keyframes height {
  from {
    height: 6%;
    transform: scaleY(1);
  }
  to {
    height: 30%;
    transform: scaleY(1);
  }
}

.wrapper.open {
  display: flex;
  animation: height 0.4s ease forwards;
}

.name_navbar {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

/* Name media query */

@media (max-width: 1024px) {
  .name_navbar {
    font-size: 70%;
  }
}

@media (max-width: 869px) {
  .name_navbar {
    font-size: 60%;
  }
}

@media (max-width: 562px) {
  .name_navbar {
    font-size: 57%;
  }
}

@media (max-width: 330px) {
  .wrapper {
    grid-template-columns: 1.7fr 1.3fr 1.1fr 1fr;
  }
}

.work_navbar {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* Work media query */
@media (max-width: 1024px) {
  .work_navbar {
    font-size: 70%;
  }
}

@media (max-width: 869px) {
  .work_navbar {
    font-size: 60%;
  }
}

@media (max-width: 562px) {
  .work_navbar {
    font-size: 57%;
  }
}

.projects_navbar {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* Projects media query */
@media (max-width: 1024px) {
  .projects_navbar {
    font-size: 70%;
  }
}

@media (max-width: 869px) {
  .projects_navbar {
    font-size: 60%;
  }
}

@media (max-width: 562px) {
  .projects_navbar {
    font-size: 57%;
  }
}

.volunteering_navbar {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* Volunteering media query */
@media (max-width: 1024px) {
  .volunteering_navbar {
    font-size: 70%;
  }
}

@media (max-width: 869px) {
  .volunteering_navbar {
    font-size: 60%;
  }
}

@media (max-width: 562px) {
  .volunteering_navbar {
    font-size: 57%;
  }
}

.nopage {
  display: grid;
  background: white;
  height: 200vh;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: black;
}

.nopage-exist {
  display: grid;
  background: white;
  height: 130vh;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: 1fr 0.2fr 0.5fr 1fr;
  color: black;
}

.nopage-text {
  color: black;
  font-family: sans-serif;
  font-size: 200%;
  font-weight: 600;
  grid-row: 2;
}

.nopage-text-secondary {
  color: black;
  font: 'Fira Code';
  font-size: 100%;
  font-weight: 600;
  grid-row: 3;
}

.fourofoura {
  color: inherit;
  text-decoration: underline;
}

/* 

Utility classes for typography and animations

*/

.calibri-text {
  font-family: 'Calibri', sans-serif;
}

.futura-heading {
  font-family: 'Futura', sans-serif;
}

@keyframes pop-in {
  to {
    opacity: 1;
    transform: scale(1.02);
  }
}

.name_navbar:hover,
.work_navbar:hover,
.projects_navbar:hover,
.volunteering_navbar:hover {
  color: #ffffff;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
  transform: scale(1.08);
}

html {
  scroll-behavior: smooth;
}
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shimmer {
  0% {
    mask-position: 200% 0;
  }
  100% {
    mask-position: -200% 0;
  }
}